{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "tabWidth": 2,
  "semi": true,
  "lines-between-class-members": true,
  "overrides": [
    {
      "files": "*.less",
      "options": {
        "blankLine": "always",
        "prev": "*",
        "next": "{"
      }
    }
  ]
}
